{{#each results}}
	{{#if @first}}
    {{else}}
<a class="itemTemplateWrapper" href="/{{shortName}}">
    <div class="row">
        <div class="">
            <img src="/gengi/img/{{shortName}}.png" class="img-responsive pull-left" alt="Responsive image">
        </div>
        <div id="currency-info">
            <div class="">
                <div class="pull-left">
                    <h1 id="shortName">{{shortName}}</h1>
                    <span id="longName">{{longName}}</span>
                </div>
            </div>
            <div class="">
                <div id="cur-value" class="pull-right"><span>{{value}}</span></div>
            </div>
        </div>
    </div>
</a>
    {{/if}}
{{/each}}